<h1 class="text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-purple-400 to-red-400">POSTS (<%= @posts.count %>)</h1>
<br>
<a class="text-2xl text-white rounded p-3 font-extrabold bg-gradient-to-br from-blue-200 to-blue-600" href="/posts/new">ADD NEW</a>

<a class="text-2xl text-white rounded p-3 font-extrabold bg-gradient-to-br from-red-200 to-red-600" href="/posts/delete">DELETE ALL!</a>
<br>
<br><br>


<% @posts.each do |post| %>
  <span class="text-1xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-red-400"><%= post.title %></span><br>
<% end %>
